use-flex(direction = null)
	display flex
	if direction is not null
		flex-direction direction

flex-center(centers = null)
	if centers is not 'element'
		align-items center
	if centers is not 'axis'
		justify-content center

use-flex-center(direction = null, certers = null)
	use-flex(direction)
	flex-center(certers)
