:has(> .element-indicator) {
	
	use-flex-center column
	
}

.backgrounds
	
	size 100%
	use-flex-center column
	gap 2rem
	
	opacity 0.4
	
	> img {
		width min(20rem, 80%)
		margin-left -20px
	}
	
	> .labels {
		max-width min(24rem, 90%)
		font-size 14px
	}
	
